<div class="search-form mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Nhap tu khoa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khóa...."
      />
    </div>

    <div class="form-group">
      <label for="search-input">Nhap tu khoa</label>
      <select
        name="gender"
        class="form-control"
        id="gender-input"
      > 
        <option value="">--Chon gioi tinh</option>
        <option value="nam">Nam</option>
        <option value="nu">Nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>